<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title|capitalize|e }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link href="/styles/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/css/styles.css">
	<link rel="stylesheet" href="/styles/css/style.css">
	<script type="text/javascript" src="/styles/js/jquery.js"></script>
	<script type="text/javascript" src="/styles/js/move-top.js"></script>
    <script type="text/javascript" src="/styles/js/easing.js"></script>
</head>
<body>
	<!-- <div class='container'> -->
		<!-- <nav class='navbar navbar-inverse'> -->
			{% block menu %}{% endblock %}
		<!-- </nav> -->
		<div class='container'>
		<div class="about-main">
			<div class='row'>
				<div class='col-md-9 about-left'>
					{% block content %}{% endblock %}
				</div>
				<div class='col-md-3 about-right heading about'>
					{% block sidebar %}{% endblock %}
				</div>
			</div></div>
			{% block slide %}{% endblock %}
		
	</div>
	<!-- </div> -->
	<!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-text">
                <p>© 2015 Coffee Break. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
        </div>
    </div>
    <!--footer-end-->
</body>
</html>
