	
{% extends 'admin/layout.html.twig' %}
{% block left %}
<script type="text/javascript">
try{ ace.settings.check('sidebar' , 'fixed') }catch(e){ }
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>

		<span class="btn btn-info"></span>

		<span class="btn btn-warning"></span>

		<span class="btn btn-danger"></span>
	</div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
	<li class="active">
		<a href="#">
			<i class="menu-icon fa fa-tachometer"></i>
			<span class="menu-text"> Dashboard </span>
		</a>

		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="category.html">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text">Danh mục Tin tức</span>
		</a>
		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="#">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text">Quản lý Bình Luận</span>
		</a>
		<b class="arrow"></b>
	</li>
		<li class="">
		<a href="#">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text">Quản lý Thành Viên</span>
		</a>
		<b class="arrow"></b>
	</li>
	<li class="">
		<a href="index.html#" class="dropdown-toggle">
			<i class="menu-icon fa fa-tag"></i>
			<span class="menu-text">Quản lý khác</span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
		<ul class="submenu">
			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Cài đặt website
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Cài đặt hệ thống
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Đổi mật khẩu
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a href="#">
					<i class="menu-icon fa fa-caret-right"></i>
					Đăng xuất
				</a>
				<b class="arrow"></b>
			</li>
		</ul>
	</li>
</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<script type="text/javascript">
try{ ace.settings.check('sidebar' , 'collapsed') }catch(e){ }
</script>
{% endblock %}
{% block content %}
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
	try{ ace.settings.check('breadcrumbs' , 'fixed') }catch(e){ }
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#" target="_blank">Home</a>
		</li>
		<!-- {if isset($breadcrumbs) && $breadcrumbs neq null}{$breadcrumbs}{else} --><li class="active"><!-- {$controlss} --></li><!-- {/if} -->

	</ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
	<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
			<i class="ace-icon fa fa-cog bigger-150"></i>
		</div>

		<div class="ace-settings-box clearfix" id="ace-settings-box">
			<div class="pull-left width-50">
				<div class="ace-settings-item">
					<div class="pull-left">
						<select id="skin-colorpicker" class="hide">
							<option data-skin="no-skin" value="#438EB9">#438EB9</option>
							<option data-skin="skin-1" value="#222A2D">#222A2D</option>
							<option data-skin="skin-2" value="#C6487E">#C6487E</option>
							<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
						</select>
					</div>
					<span>&nbsp; Choose Skin</span>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
					<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
					<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
					<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
					<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
					<label class="lbl" for="ace-settings-add-container">
						Inside
						<b>.container</b>
					</label>
				</div>
			</div><!-- /.pull-left -->

			<div class="pull-left width-50">
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
					<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
					<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
					<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
				</div>
			</div><!-- /.pull-left -->
		</div><!-- /.ace-settings-box -->
	</div><!-- /.ace-settings-container -->
	Nội dung
</div><!-- /.page-content -->
{% endblock %}





